


/*
#mostrador{
	margin-top: 10px;
	width: 69.5%;
	margin: 0 auto;
}
*/
#aviso{
	background-color: #3c3ebc;
	color: #fff;
	font-size: 1.2em;
	width: 97%;
	padding:5px 0 5px 5px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
}

#mapa{
	width: 97%;
	height:20em;
}

/*#direcoes{
	width: 69.5%;
    text-align: justify;
}*/

form {
    padding-bottom: 10px;
}



form #corrida1 {
    
}

form input {
    width: 97%;
    font-size: 0.8em;
    padding-bottom: 5px;
}

.botao_corrida {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 8px;
    font-size: 1.0em;
    border-radius: 1em;
    cursor: pointer;
}

#corrida1 {
    font-size: 1.2em;
}

body {
    width: 99%;
    height: auto;
}


@media screen 
    and (max-device-width : 1100px) {
        
    form imput {
        font-size: 1.4em;
    }
    
    #mapa {
        width: 98%;
        height: 18em;
    }
    
    #corrida1 {
        font-size: 2.3em;
    }
    
    .botao_corrida {
        font-size: 2.3em;
    }
    
    form input {
        font-size: 2.3em;
    }
    
    #aviso {
        font-size: 2.3em;
    }
        
        #mapa {
            height: 50em;
        }
}



